@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    height: 100vh;
    padding: 20px;    
    font-family: 'Roboto', sans-serif;
}

#title-div{
    font-size: 20px;
}

#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 20px;
    margin-bottom: 50px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#grid-container{
    height: 70vh;
    width: 70vh;
    display: grid;
}

.row-div{
    display: grid;
    grid-auto-flow: column;
}

.square-div{
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
}